# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Uploaded files and faces
static/uploads/*
static/faces/*
!static/uploads/.gitkeep
!static/faces/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# Replit specific
.replit
.cache/
replit.nix
.config/
.upm/
.gitconfig
poetry.lock
